.tecnologies {
  padding: 10px;
  
  .row {
    @include breakpoint(medium) {
      & {
        text-align: center;
      }

      img {
        width: 50%;
        text-align: center;
      }
    }

    .tecnology-name, .docs-link {
      margin-top: 3%;

      @include breakpoint(small) {
        text-align: center;
      }
    }
  }
}